<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Foro - StudentOverflow</title>
  <!-- Nos vinculamos con la hoja style.css-->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- Encabezado principal-->
  <header>
    <h1>🎓 StudentOverflow</h1>
    <nav>
      <a href="{{ url_for('main.home') }}">Inicio</a>
      <a href="{{ url_for('main.login_view') }}">Iniciar sesión</a>
      <a href="{{ url_for('main.register_view') }}">Registrarse</a>
    </nav>
  </header>

  <!-- Contenedor del foro-->
  <div class="foro-container">
    <h2>Preguntas por Materia</h2>

    <!-- Sección preguntas de Programación -->
    <section class="materia">
      <h3>💻 Programación</h3>

      <!-- Pregunta 1-->
      <div class="pregunta">
        <p><strong>¿Cómo funciona la herencia en Python?</strong></p>
        <div class="respuestas">
          <p>Respuesta 1: La herencia permite que una clase hija herede atributos y métodos de una clase padre.</p>
        </div>

        <!-- Formulario para responder a la pregunta-->
        <form class="respuesta-form">
          <input type="text" placeholder="Escribe tu respuesta...">
          <button type="submit">Responder</button>
        </form>
      </div>

      <!-- Preguunta 2-->
      <div class="pregunta">
        <p><strong>¿Qué es una API?</strong></p>
        <div class="respuestas">
          <p>Respuesta 1: Es una interfaz para que dos programas se comuniquen.</p>
        </div>

        <!-- Formulario para responder la pregunta-->
        <form class="respuesta-form">
          <input type="text" placeholder="Escribe tu respuesta...">
          <button type="submit">Responder</button>
        </form>
      </div>
    </section>

    <!-- Sección preguntas de Matemáticas -->
    <section class="materia">
      <h3>📐 Matemáticas</h3>

      <!-- Pregunta 1-->
      <div class="pregunta">
        <p><strong>¿Cuál es la diferencia entre media y mediana?</strong></p>
        <div class="respuestas">
          <p>Respuesta 1: La media es el promedio, y la mediana es el valor central.</p>
        </div>
        <!--  Formulario para responder la pregunta-->
        <form class="respuesta-form">
          <input type="text" placeholder="Escribe tu respuesta...">
          <button type="submit">Responder</button>
        </form>
      </div>
    </section>

  </div>

  
</body>
</html>
