<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio - StudentOverflow</title>
   <!-- Nos vinculamos con la hoja style.css-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

     <!-- Encabezado de la página-->
  <header>
    <h1>🎓 StudentOverflow</h1>
    <nav>
         <!-- Enlaces para ir a otra página-->
      <a href="{{ url_for('main.login_view') }}">Iniciar sesión</a>
      <a href="{{ url_for('main.register_view') }}">Registrarse</a>
    </nav>
  </header>


 <!-- Contenido principal-->
  <main class="welcome-container">
    <h2>Bienvenido a StudentOverflow</h2>
    <p>Unete a nuestra gran comunidad donde puedes hacer preguntas y encontrar respuestas sobre tus materias escolares.</p>
    <div class="cta-buttons">
      <a href="{{ url_for('main.register_view') }}" class="button">Crear cuenta</a>
      <a href="{{ url_for('main.login_view') }}" class="button">Ya tengo cuenta</a>
    </div>
  </main>

  
</body>
</html>
