<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar Sesión - StudentOverflow</title>
   <!-- Nos vinculamos con la hoja style.css-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   <!-- Encabezado de la página-->
  <header>
    <h1>🎓 StudentOverflow</h1>
    <nav>
      <a href="{{ url_for('main.home') }}">Inicio</a>
      <a href="{{ url_for('main.register_view') }}">Registrarse</a>
    </nav>
  </header>

   <!-- Contenido principal-->
  <main>
    <section class="login-container">
      <h2>Iniciar Sesión</h2>
      <form action="#" method="post">
        <label for="email">Correo electrónico:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit" class="btn">Entrar</button>
      </form>
      <p>No tienes cuenta? <a href="{{ url_for('main.register_view') }}">Regístrate aquí</a></p>
    </section>
  </main>

 
</body>
</html>
