<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro - StudentOverflow</title>
   <!-- Nos vinculamos con la hoja style.css-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <!-- Encabezado de la página -->
  <header>
    <h1>🎓 StudentOverflow</h1>
    <nav>
      <a href="{{ url_for('main.home') }}">Inicio</a>
      <a href="{{ url_for('main.login_view') }}">Iniciar sesión</a>
    </nav>
  </header>

  <!-- Formulario del registro-->
  <div class="login-container">
    <h2>Registro de Usuario</h2>
    <form action="#" method="post">
      <input type="text" name="nombre" placeholder="Nombre completo" required>
      <input type="email" name="email" placeholder="Correo electrónico" required>
      <input type="password" name="contraseña" placeholder="Contraseña" required>
      <input type="password" name="confirmar_contraseña" placeholder="Confirmar contraseña" required>
      <button type="submit">Registrarse</button>
    </form>

     <!-- Enlace para usuarios con cuenta activa-->
    <p style="text-align: center; margin-top: 1rem;">
      ¿Ya tienes cuenta? <a href="{{ url_for('main.login_view') }}">Inicia sesión aquí</a>
    </p>
  </div>


</body>
</html>
